{% extends 'base.html.twig' %}
{% block title %} Page: {{ title }} {% endblock %}
{% block body %}
    <div class="container ">
    <div class="row">
        <div class="col-sm-12">
            <div class="show-article-container p-3 mt-4">
                <div class="row">
                    <div id="ddiv" class="col-sm-12 bg-dark">
                        <div id="ptitlediv" class="show-article-title-container  pl-3 align-middle  col-sm-12">
                            <h1 id="ptitle">{{ title }}</h1>
                        </div>
                    </div>
                </div>
        </div>
                    </div>
                </div>


                        <div class="row2">
                        <div class="column d-flex justify-content-between">
                            <img src="{{ asset('images/lego.png') }}">
                            <img src="{{ asset('images/hasbro.png') }}">
                            <img src="{{ asset('images/nerf.png') }}">
                            <img src="{{ asset('images/barbie.png') }}" alt="">
                            <img src="{{ asset('images/bandai_namco.png') }}" alt="">
                            <img src="{{ asset('images/mattel.png') }}" alt="">
                            <img src="{{ asset('images/goliath_games.png') }}" alt="">
                        </div>
                    </div>




            </div>
        </div>
    </div>
    </div>

{% endblock %}